body {
 background-color: #ccc; 
}

#wrap {
 width: 940px;
 margin: 0 auto;
}

#title-wrap {
  height: 100px; 
}

#title {
 text-align: right;
 height: 100px;
}
#title span {
 color: #bbb; 
}

#menu {
 width: 110px;
 float: left;
 text-transform: uppercase;
}
#menu span {
 line-height: 80%; 
}

#content {
 width: 810px;
 float: left;
 margin-left: 10px;
}

#footer {
 font-size: 14px;
 color: #aaa;
 text-align: center;
 margin-top: 4em; 
}

.c1 a { color: #000; }
.c2 a { color: #999; }
.c3 a { color: #bbb; }
.c4 a { color: #444; }

#menu a:link { text-decoration: none; }
#menu a:visited { text-decoration: none; }
#menu a:hover { text-decoration: none; }