body {
 background-color: #ccc; 
}

#wrap {
 width: 940px;
 margin: 0 auto;
}

#title-wrap {
  height: 100px; 
}

#title {
 text-align: right;
 height: 100px;
}
#title span {
 color: #bbb; 
}

#menu {
 width: 100px;
 text-transform: uppercase;
}
#menu span {
 line-height: 100%; 
}

.c1 a { color: #000; }
.c2 a { color: #999; }
.c3 a { color: #bbb; }
.c4 a { color: #444; }

#menu a:link { text-decoration: none; }
#menu a:visited { text-decoration: none; }
#menu a:hover { text-decoration: none; }